body {
    height: 100%;
    background-color: silver;
}

.block {
    padding: 20px 25px;
    border: 1px solid black;
}

.block-hover {
    padding: 20px 25px;
    border: 1px solid black;
    list-style-type: circle;
}

.hide-block {
    display: none;
}

.pathname {
    margin: 0 2px;
}

.pathname:hover {
    text-decoration: underline;
    cursor: pointer;
    color: green;
}
